.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
}

/* @media (max-width:700px) {
    .brand-logo {
        font-size: 16pt !important;
    }
} */

@media (min-width: 1000px) {
  .card {
    width: 70vh;
  }
}

@media (min-width: 1025px) {
  .card {
    width: 100vh;
  }
}
