.containerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.containerFlex .span-text {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 15pt;
  font-weight: bold;
}

.containerFlex input {
  width: 50%;
  height: 30px;
  text-align: center;
  font-size: 14pt;
}

.matrix-table {
  padding-left: 20px;
  padding-right: 20px;
}

.matrix-show td {
  padding: 15px;
}

.step-matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matrix {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.operation-button {
  margin-top: 30px;
}

#steps,
.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.step-content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.step-matrix {
  margin-left: 10px;
  margin-right: 10px;
}

.equations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.equation {
  margin: 10px;
}

.katex {
  font-size: 20pt !important;
  margin: 10px !important;
}

@media (min-width: 1025px) {
  .containerFlex {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media (max-width: 400px) {
  .brand-logo {
    font-size: 9pt !important;
  }
}

@media (min-width: 401px) and (max-width: 685px) {
  .brand-logo {
    font-size: 12pt !important;
  }
}

@media (min-width: 686px) and (max-width: 850px) {
  .brand-logo {
    font-size: 16pt !important;
  }
}

@media (max-width: 600px) {
  .step-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .step-matrix {
    margin: 10px;
  }
}
